##Somes type of functions

In [ ]:
#A Python program is made up of instructions. Each statement is normally written on one line. For example, the instruction 
#print is for print 'Hello word in the screen. The function print is for print a object
print('Hi world')

Hi world

In [ ]:
#Example 
print('Hi! welcome to my tutorial in Python, thank you')

Hi! welcome to my tutorial in Python, thank you

In [ ]:
#If the program have two or more instructions, the program print all instructions sequencially one after another
#Example
print('Instruction 1')
print('Instruction 2')

Instruction 1
Instruction 2

In [ ]:
#Print is a function predifined (built-in function). A function is called from a program, writing the name and next the parenthesys
#Python have many predifined functions(The above functions are called predefined functions because they are already included "by default" in Python.),
#for example the function help is for give information about some thing 
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#programmers can define their own functions
def say_hi(name):
#This function give a greeting most your name
    print('I am Ramón, ' + name)
say_hi('Joseph')

I am Ramón, Joseph

In [ ]:
#The function we just defined is called greet and takes a single parameter. After the first line (called the function header or prototype)
#comes one or more instructions (called the function body), which will be executed when someone calls the function. 
#Note that the instructions that make up the body of the function appear indented, that is, they have a tab in front of them.

In [ ]:
#Functions can be inside others, for example
def greeting_nice(a):
  say_hi(a)
print('Nice to meet you')
greeting_nice('Juan')

Nice to meet you
I am Batman, Juan

In [ ]:
#Functions with most parameters
def discount(value, percentage):
  percentage = percentage/100
  return value*(1-percentage)

In [ ]:
discount(80,20)

64.0

In [ ]:
def iva(cost, increment_for_late_delivery):
  increment_for_late_delivery = increment_for_late_delivery*0.20
  return cost+increment_for_late_delivery

In [ ]:
iva(20,1)

20.2

In [ ]:
#In expressions we can also use function calls, as long as they are functions that return some result. 
#For a function to return a value when it is called,
#we will use the return statement somewhere in the function body (usually at the end of the function body).
def triple(c):
  return c * 3

In [ ]:
triple(5)

15

In [ ]:
#If you wanna save a result of grat importance, call a variable with the result. For example
result_of_great_value = 4534523452453452345435 + 213424234 / 234512525435345

In [ ]:
result_of_great_value

4.5345234524534525e+21

En los ejemplos anteriores, hemos utilizado **literales** de tipo **cadena de caracteres** (por ejemplo, *"Hola, mundo!"*) y literales de tipo número **entero** (por ejemplo, *3*, *5* y *8*). Hay más tipos de literales, por ejemplo literales de tipo número **real** o de tipo **lógico**:

In [11]:
#You have 500 ants, which grow exponentially every hour, how many ants are there after two hours?
ants = 500**2
print("You have", ants) #The operator ** is for calculate powers
#In the same laboratory, you have 5000000 dogs, ¿Do You have most dogs or do You have most ants?
ants > 5000000

You have 250000

False

##Tuples and lists

In [ ]:
When we need to store multiple data in a single variable, we use list literals:

In [12]:
values_of_poll=[123, 231.34, 45.65, 2345.54]

In [14]:
UFC_Fighters=["Korean Zombie", "Dustin Poirier", "Brandon Moreno"]

In [16]:
#Or, using parenthesys but this is a Tuple
Phd_names = ("Juan","Jhon")

In [22]:
Phd_names[1]

'Jhon'

In [18]:
#We can extract somes values of the structure with the Index
UFC_Fighters[0] #Remember, in Python the first index is 0

'Korean Zombie'

In [23]:
len(UFC_Fighters)

3

In [19]:
#We can meet the number of the data from the list, or tuples with the len function
len(Phd_names)

2

In [24]:
Phd_names[0]="Pedro"

TypeError: ignored

##We say that tuples are an **immutable type**, which means that once we have stored a value in a variable of this type, we can no longer change it!

In [25]:
print(OCF)

NameError: ignored

##What just happened is a **runtime error**. These errors frequently occur while we're writing and testing our programs, and they mean that we haven't done something the right way. When one of these errors occurs, the program stops running. When our program is finished and well tested, none of these errors should occur..